  *,

    .html,
body {
  background-color: rgb(240, 230, 143);
  font-family: sans-serif;
}

#Container{
   height: 400px;
   width: 200px;
   padding: 10px;
   border: 1px solid ;
} 



.question{
padding: 20px;
text-align: center;
font-size: 28px;
text-transform: uppercase;
}


h1 {
    font-family: sans-serif;
    margin-top: 78px;
    height: 50px;
    width: 220px;
    margin-left: 60px;
    text-align: center;
  }

  #button {
    padding-top: 10px;
    color: rgb(119, 82, 25);
  }

 