*,*::before,*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  }

h1 {

text-align: center;

}

body { 
  padding: 0;
  margin: o;
 
  background-color: rgb(60, 177, 231) !important;;
  justify-content: left;
  align-items: left;
}

.container {
  background-color: aliceblue; 
  border-radius: 45px;
  padding: 100px;
  box-shadow: black;
  width: 80vh;
  height: 50vh;
}
  


 